h1 {
  color: #578186;
  font-size: 40px;
  line-height: 1;
  margin: 15px auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: #272e3d;
  font-size: 1;
  list-style: none;
  line-height: 1.8;
}

.container {
  max-width: 650px;
  margin: 30px auto;
}

.weather-app {
  border: 1px solid #eff1f3;
  border-radius: 5px;
  background: #eff1f3;
  opacity: 0.9;
  font-family: "Antonio", sans-serif;
  padding: 20px;
}

.current-date {
  margin-top: 14px;
  line-height: 1.5;
}

.weather-icon-temp img {
  height: 100px;
  margin-bottom: 10px;
  width: 100px;
}

.weather-icon-temp span {
  font-size: 42px;
  line-height: 1;
}
.weather-icon-temp small {
  font-size: 15px;
  margin-left: 3px;
  position: relative;
  top: -30px;
}

.btn-primary {
  background: #578286;
  border: #578186;
}
.btn-primary:hover {
  background: #d9dce0;
  color: #578186;
  transition: all 200ms ease-in-out;
  border: 1px solid #578186;
}

.findCurrent-button {
  background: #e2703a;
  color: #d9dce0;
}
.findCurrent-button:hover {
  background: #d9dce0;
  color: #e2703a;
  border: 1px solid #e2703a;
  transition: all 200ms ease-in-out;
}
