h1 {
  font-size: 40px;
  line-height: 1;
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #272e3d;
  font-size: 1;
  line-height: 24px;
}

.container {
  max-width: 650px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #d9dce0;
  border-radius: 5px;
  font-family: "Antonio", sans-serif;
}
.weather-icon-temp img {
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
}

.weather-icon-temp span {
  font-size: 42px;
  line-height: 1;
}
.weather-icon-temp small {
  position: relative;
  font-size: 15px;
  top: -30px;
  margin-left: 3px;
}
.current-date {
  margin-top: 15px;
}
